.wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b7b8f;
  padding: 15px 5px;
  z-index: 1;
}
button {
  margin: 0 5px;
}

.arrow,
.update {
  margin-right: 30px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
.update {
  transform: rotate(180deg);
  color: #0b3841;
}

.logo {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Indie Flower", cursive;

  color: white;

  cursor: pointer;

  border-radius: 4px;
}
p {
  margin: 0;
}
i {
  display: block;
  color: #27120162;
  font-size: 20px;
}
.drawMenuBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.draw {
  margin-right: 30px;
  padding: 7px;
  border: none;
  border-radius: 4px;
  background-color: #e6812c;
  color: white;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 1em #01212762;
  animation: shake 5s linear infinite;
}
.draw:hover {
  background-color: #994700;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  90% {
    transform: translateX(0);
  }
  91% {
    transform: translateX(10px);
  }
  92% {
    transform: translateX(-10px);
  }
  93% {
    transform: translateX(10px);
  }
  94% {
    transform: translateX(-10px);
  }
  95% {
    transform: translateX(10px);
  }
  96% {
    transform: translateX(-10px);
  }
  97% {
    transform: translateX(10px);
  }
  98% {
    transform: translateX(-10px);
  }
  99% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
